
# Database Configuration
DB_URL=jdbc:postgresql://ep-hidden-union-a1lb367p-pooler.ap-southeast-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=your_database_password_here

# AWS S3 Configuration
AWS_ACCESS_KEY=your_aws_access_key_here
AWS_SECRET_KEY=your_aws_secret_key_here

# JWT Configuration
JWT_SIGNER_KEY=your_jwt_secret_key_here
